/*********************************** GLOBALS ********************************/


html, body {
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 100%;
}

a:visited, a:hover, a:link, a:active {
    text-decoration: none;
    color: #FFF3E5;
}
button:visited, a:link, a:active {
    color: #FFF3E5;
}
i:visited, a:link, a:active {
    color: #FFF3E5;
}

/*********************************** NAVBAR ********************************/

.nav-container {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #f05b28;
    z-index: 3;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.home-icon {
    position: fixed;
    font-size: 40px;
    padding: 8px;
}

.nav-bar li {
    display: inline;
    flex-direction: column;
    padding-right: 70px;
    font-size: 20px;
    list-style: none;
    color: #FFF3E5;
}

.nav-bar a {
    text-decoration: none;
}
.hover-black:hover {
    color: black;
}
.nav-container a:visited, a:hover, a:link, a:active {
    text-decoration: none;
    color: #FFF3E5;
}
#home-icon {
    position: absolute;
    color: #FFF3E5;
}
#home-icon:hover {
    color: black;
}
.hamburger-icon{
    display: none;
}

.anchor {
    display:block;
    padding-top:100px;
    margin-top:-100px;
 }

/********************* HAMBURGER MENU ACTIVE BELOW 500PX WIDTH ****************/

.hamburger-menu {
    display: none;
    font-size: 30px;
    right: 0px;
}
#bars {
    display: none;
}

/************************************** HOME ***********************************/

.hdr {
    padding: 0px 30px;
    font-size: 45px;
    font-weight: 100;
    color: #ffeeff;
}
.bold {
    font-weight: 700;
}
.header-container {
    position: absolute;
    top: 200px;
    right: 100px;
    background-color: #f05b28;
    padding: .1px 0px;
    width: auto;
    box-shadow: 15px 15px 20px #373737;
}
.header-border {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid #fefefe 5px;
}
.main-img, .main-img-sml{
    border-right: solid white 5px;
}
.home-icons {
    position: absolute;
    top: 520px;
    right: 100px;
    padding: .1px 0px;
    width: 400px;
}

.home-icons i {
    color: #f05b28;
    margin-left: 50px;
    cursor: pointer;
    font-size: 40px;
}

h2 {
    font-size: 60px;
    color: #fefefe;
}

button {
    width: 200px;
    box-shadow: 15px 15px 20px #373737;
    background-color: #f05b28;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #ffeeff;
    cursor: pointer;
    border: solid #fefefe 3px;
    margin: 5px;
}
button:hover {
    color: #f05b28;
    background-color: #fefefe;
    border: solid #f05b28 3px;
    font-weight: 700;
}
.main-book-now {
    position: absolute;
    top: 650px;
    right: 170px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    top: 100px;
    flex: auto;
    width: 100%;
    height: 1500px;
    background-image: url("../imgs/backgroundImg11.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron-header, .button-container {
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 40%;
}

.jumbotron-header {
    margin-top:5%;
}

/********************************* HIDDEN SUPERHERO *******************************/


.main-img-sml, .main-img-lrg {
    display: none;
}

/*********************************** INTRO SECTION ********************************/

.intro-container {
    position: relative;
    bottom: 35px;
    text-align: left;
    width: 80%;
    color: white;
    z-index: 1;
}
.intro-border {
    padding: 20px 50px 50px 50px;
    line-height: 37px;
}
.intro-container p {
    font-size: 24px;
    color:white;
}
.list-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 700px;
}
.list-container div {
    font-size: 20px;
}

/*********************************** SKEWED DIVIDES ********************************/

.skew-div-left-top {
    background-color: #FFD7C9;
    position: absolute;
    width: 100%;
    height: 170px;
    transform-origin: center right;
    transform: skewY(5deg);
}
.skew-div-right-top {
    background-color: #FFD7C9;
    position: absolute;
    width: 100%;
    height: 170px;
    transform-origin: center left;
    transform: skewY(-5deg);
}
.skew-div-left-bottom {
    background-color: #FFD7C9;
    position: absolute;
    width: 100%;
    height: 6400px;
    transform-origin: bottom right;
    transform: skewY(-5deg);
}
.skew-div-left-bottom1 {
    background-color: rgba(240, 91, 40, 1);
    position: absolute;
    width: 100%;
    height: 550px;
    transform-origin: bottom right;
    transform: skewY(-5deg);
}
.filler-div{
    background-color: #FFD7C9;
    position: absolute;
    width: 100%;
    height: 250px;
}

/*********************************** SERVICES SECTION ********************************/

.services-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    width: 100%;
    height: auto;
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    z-index: 2;
}

.services-header-container {
    background-image: linear-gradient(to right, rgba(240, 91, 40, 1), rgba(0,0,0,0));
    height: 95px;
    border-top: solid #fefefe 5px;
    border-left: solid #fefefe 5px;
    width: 60%;
}

.services-header {
    border-radius: 1px;
}

.services-subheader {
    margin-bottom: 5px;
}

.services-content-container {
    display: grid;
    flex-direction: row;
    align-items: center;
    border-left: solid white 5px;
    border-top: solid white 5px;
    border-radius: 1px;
    width: 60%;
    color: white;
    margin-bottom: 40px;
}
.services-content-color1 { 
    background-image: linear-gradient(to right, rgba(240, 91, 40, 1), rgba(240, 91, 40, .3));
}

.services-content-container h3 {
    font-size: 33px;
    font-weight: 100;
    height: 5px;
    text-align: left;
    position: relative;
    bottom: 6px;
}

.services-container-container i {
    font-size: 38px;
    padding: 8px 0px;
    cursor: pointer;
}

.services-content-container p {
    line-height: 30px;
    padding: 30px;
    margin-top: 0px;
    color: white;
}

.services-content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.services-content img {
    border-right: solid white 5px;
    border-bottom: solid white 5px;
    box-shadow: 15px 15px 20px #373737;
    margin: 5px;
}
.services-content-lrg img {
    border-right: solid white 5px;
    border-top: solid white 5px;
    max-width: 100%;
    max-height: 100%;

}
.services-content-text h3 {
    text-align: center;
    font-size: 30px;
    padding-left: 30px;
}
.price-container, .btn-container{
    text-align: center;
    color: white;
}
.price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: rgba(250, 250, 250, 0.2);    
    border-top: solid white 5px;
    border-right: solid white 5px;
}
.price-container h4 {
    font-size: 22px;
}
h4 span {
    border-bottom: solid white 2px;
    font-size: 22px;
}

.info-tab {
    display: flex;
    flex-direction: column;
    opacity: 0.95;
    border-radius: 5px;
    width: 100%;
}

.tab-title {
    border-bottom: solid #fefefe 5px;
    border-right: solid #fefefe 5px;
    border-radius: 1px;
    width: 389px;
    text-align: center;
}
.tab-title h3 {
    margin-left: 15px;
}


/*********************************** TESTIMONIALS SECTION ********************************/

.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    width: 100%;
    height: 8000px;
    background-image: url("../imgs/backgroundImg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 30px;
    z-index: 2;
}

.testimonial-header-container {
    position: relative;
    top: 7600px;
    background-image: linear-gradient(to right, rgba(240, 91, 40, 1), rgba(0,0,0,0));
    height: 95px;
    border-top: solid #fefefe 5px;
    border-left: solid #fefefe 5px;
    width: 50%;
}

.testimonials-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.testimonials-background h2 {
    font-family: 'Dancing Script', cursive;
    color: white;
}

.testimonials-container1 {
    position: relative;
    top: 7600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    font-size: 20px;
    color: black;
    background-image: linear-gradient(to right, rgba(240, 91, 40, 1), rgba(0,0,0,0));
    border-bottom: solid #fefefe 5px;
    border-left: solid #fefefe 5px;
    border-radius: 3px;
    z-index: 2;
}

.testimonials-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 95%;
    margin: 10px;
    border-radius: 10px;
}

.testimonials-name-right, .testimonials-name-left {
    display: flex;
    flex-direction: row;
    height: auto;
}

.testimonials-name-right {
    justify-content: flex-end;
}

.testimonials-name-left {
    justify-content: flex-start;
}

.testimonials-quote {
    text-align: center;
    background-color: rgba(236, 236, 236, 1);
    padding: 0px 30px;
    border-radius: 10px;
    border: solid 1px grey;
}

.testimonials-quote h5 {
    font-size: 20px;
}

.testimonials-container p{
    padding: 5px;
}

.box-right, .box-left {
    border-right: solid 1px grey;
    border-bottom: solid 1px grey;
    background-color: rgba(236, 236, 236, 1);
    width:20px;
    height:20px;
    transform:rotate(45deg)    
}

.box-right {
    position: relative;
    float: right;
    right: 50px;
    top: 11px;
}

.box-left {
    position: relative;
    float: left;
    left: 50px;
    top: 11px;
}


/*********************************** CONTACT SECTION ********************************/

.contact-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 700px;
    padding-top: 30px;
    z-index: 2;
    height: auto;
    background-color: #FFD7C9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: grey;
}

.contact-container i {
    font-size: 40px;
    margin: 25px;
}
.contact-container i:hover {
    color: #f05b28;
    cursor: pointer;
}

.maps-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.maps-col{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 400px;
}
.maps-col img{
    width: 300px;
    height: 300px;
    border: solid grey 1px;
    cursor: zoom-in;
}
.maps-col li {
    text-align: center;
    list-style: none;
    line-height: 2;
}
.contact-container p {
    font-size: 20px;
}
.contact-container a:visited, a:hover, a:link, a:active {
    text-decoration: none;
    color: grey;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  right: -30%;
  top: 80px;
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



/*********************************** FOOTER SECTION ********************************/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    text-align: center;
    color: #FFF3E5;
    background-color: #808080;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.copyright h4 {
    padding: 0px 40px 0px 5px;
    font-size: 15px;
}


/******************************* SECTIONS HEIGHTS ********************************/

.skew-div-left-bottom {
    height: 6500px;
}
.testimonials-container1, .testimonial-header-container {
    top: 7000px;
}
.testimonial-container {
    height: 8300px;
}

@media only screen and (max-width: 1500px) {
    .testimonials-container1, .testimonial-header-container {
        top: 7000px;
    }
}

@media only screen and (max-width: 1200px) {
    .skew-div-left-bottom {
        height: 5800px;
    }
    .testimonials-container1, .testimonial-header-container {
        top: 6000px;
    }
    .testimonial-container {
        height: 7300px;
    }
}

@media only screen and (max-width: 1150px) {
    .testimonials-container1, .testimonial-header-container {
        top: 6200px;
    }
    .testimonial-container {
        height: 7500px;
    }   
}

@media only screen and (max-width: 1100px) {

    .skew-div-left-bottom {
        height: 6000px; 
    }
    .testimonials-container1, .testimonial-header-container {
        top: 6400px;
    }
    .testimonial-container {
        height: 7700px;
    }  
}

@media only screen and (max-width: 1024px) {
    .skew-div-left-bottom {
        height: 6200px; 
    }
    .testimonials-container1, .testimonial-header-container {
        top: 6600px;
    }
    .testimonial-container {
        height: 7900px;
    } 
}

@media only screen and (max-width: 1000px) {
    .skew-div-left-bottom {
        height: 5900px; 
    }
    .testimonials-container1, .testimonial-header-container {
        top: 6200px;
    }
    .testimonial-container {
        height: 7500px;
    }
}
@media only screen and (max-width: 926px) {
    .skew-div-left-bottom {
        height: 7400px; 
    }
    .testimonials-container1, .testimonial-header-container {
        top: 7700px;
    }
    .testimonial-container {
        height: 9000px;
    }
}

@media only screen and (max-width: 725px) {
    .skew-div-left-bottom {
        height: 8400px; 
    }
    .testimonials-container1, .testimonial-header-container {
        top: 8700px;
    }
    .testimonial-container {
        height: 9900px;
    }
}

@media only screen and (max-width: 550px) {
    .skew-div-left-bottom {
        height: 8300px; 
    }
    .testimonials-container1, .testimonial-header-container {
        top: 8400px;
    }
    .testimonial-container {
        height: 9500px;
    }
}

@media only screen and (max-width: 500px) {
    .testimonials-container1, .testimonial-header-container {
        top: 8600px;
    }
    .testimonial-container {
        height: 9800px;
    }
}

@media only screen and (max-width: 480px) {
    .skew-div-left-bottom {
        height: 8500px; 
    }
    .testimonials-container1, .testimonial-header-container {
        top: 8700px;
    }
    .testimonial-container {
        height: 9900px;
    }
}

@media only screen and (max-width: 420px) {
    .skew-div-left-bottom {
        height: 8700px; 
    }
    .testimonials-container1, .testimonial-header-container {
        top: 8800px;
    }
    .testimonial-container {
        height: 10000px;
    }
}
@media only screen and (max-width: 400px) {
    .skew-div-left-bottom {
        height: 8900px; 
    }
    .testimonials-container1, .testimonial-header-container {
        top: 9000px;
    }
    .testimonial-container {
        height: 10200px;
    }
}
@media only screen and (max-width: 370px) {
    .skew-div-left-bottom {
        height: 9100px; 
    }
    .testimonials-container1, .testimonial-header-container {
        top: 9200px;
    }
    .testimonial-container {
        height: 10400px;
    }
}
@media only screen and (max-width: 340px) {
    .skew-div-left-bottom {
        height: 9250px; 
    }
    .testimonials-container1, .testimonial-header-container {
        top: 9300px;
    }
    .testimonial-container {
        height: 10600px;
    }
}
@media only screen and (max-width: 320px) {
    .skew-div-left-bottom {
        height: 9400px; 
    }
    .testimonials-container1, .testimonial-header-container {
        top: 9400px;
    }
    .testimonial-container {
        height: 10700px;
    }
}


/*********************************** HIDDEN SECTIONS ********************************/

@media only screen and (min-width: 926px) {
    
    .large-screen {
        display: inline-block;
    }
    .small-screen {
        display: none;
    }
}
@media only screen and (max-width: 926px) {
    
    .large-screen {
        display: none;
    }
    .small-screen {
        display: inline-block;
    }
}



@media only screen and (min-width: 630px) {
    
    .list-container.large-screen {
        display: flex;
    }
    .list-container.small-screen {
        display: none;
    }
}
@media only screen and (max-width: 630px) {
    
    .list-container.large-screen {
        display: none;
    }
    .list-container.small-screen {
        display: flex;
    }
}


/******************************* MEDIA QUERY WIDTH 1500px ***************************/

@media only screen and (max-width: 1500px) {
    
    .services-content-container, .services-header-container {
        width: 75%;
    }
    .testimonials-container1, .testimonial-header-container {
        width: 65%;
    }
    .intro-border {
        padding-bottom: 20px;
    }
}

/******************************* MEDIA QUERY WIDTH 1200px ***************************/

@media only screen and (max-width: 1200px) {

    .intro-container, .services-content-container, .services-header-container {
        width: 80%;
    }
    
    .services-content-container h3 {
        font-size: 26px;
    }
    .services-content img {
        width: 300px;
        height: auto;
    }
    .hdr {
        font-size: 35px;
    }
    .tab-title {
        width: 305px;
    }
}

/******************************* MEDIA QUERY WIDTH 1024px ***************************/

@media only screen and (max-width: 1024px) {

    .intro-container p {
        font-size: 20px;
    }
    .intro-container li {
        font-size: 18px;
    }
    .testimonial-container {
        background-image: url("../imgs/backgroundImg2-sml.jpg");
        background-position: left;
    }
}

/******************************* MEDIA QUERY WIDTH 1000px ***************************/

@media only screen and (max-width: 1000px) {

    .intro-container, .services-content-container, .services-header-container {
        width: 90%;
    }
    .testimonials-container1, .testimonial-header-container {
        width: 75%;
    }
    .hdr {
        font-size: 30px;
    }
    .header-container {
        top: 200px;
        right: 70px;
        width: auto;
    }
    .home-icons {
        right: 85px;
    }
    h2 {
        font-size: 40px;
    }
    button {
        width: 170px;
        padding: 15px;
        font-size: 14px;
    }
    .services-content h3 {
        font-size: 25px;
    }
    .intro-container {
        width: 80%;
    }
    .intro-container h3 {
        font-size: 20px;
    }
    .testimonials-quote p {
        font-size: 16px;
    }
    .main-img{
        display: none;
    }
    .main-img-sml{
        display: inline-block;
    }
}

/******************************* MEDIA QUERY WIDTH 926px ***************************/

@media only screen and (max-width: 926px) {
    
    .services-content {
        flex-direction: column;
    }
    .services-content-img{
        text-align: center;
    }
}

/******************************* MEDIA QUERY WIDTH 850px ***************************/

@media only screen and (max-width: 850px) {
    
    .intro-container {
        width: 90%;
    }
    .intro-container p {
        font-size: 18px;
    }
    .intro-container li {
        font-size: 16px;
    }
    .services-content h3{
        font-size: 20px;
    }
    .services-content p{
        font-size: 14px;
    }
    .testimonials-container1, .testimonial-header-container {
        width: 90%;
    }
    .testimonials-quote h5{
        font-size: 18px;
    }
    .contact-container h1 {
        font-size: 25px;
    }
    .maps-row{
        flex-direction: column;
    }
    .contact-container i {
        font-size: 40px;
    }
}

/******************************* MEDIA QUERY WIDTH 725px ***************************/

@media only screen and (max-width: 725px) {

    .nav-bar {
        font-size: 12px;
    }
    #home-icon{
        font-size: 30px;
    }
    .header-container .hdr {
        font-size: 30px;
    }
    .header-container {
        top: 200px;
        right: 70px;
        width: 400px;
    }
    .intro-container{
        width: 90%;
    }
    .intro-border{
        padding: 5px 5px;
        line-height: 40px;
    }
    .intro-border p {
        font-size: 14px;
    }
    .intro-border li {
        font-size: 14px;
        margin: 0px;
    }
    .tooltip .tooltiptext {
        top: 70px;
    }
    .home-container {
        background-image: url("../imgs/backgroundImg11.jpg");
    }
}

/****************************** MOBILE SUPERHERO BANNER WIDTH 725px *****************************/

@media only screen and (max-width: 725px) {

    .home-container {
        height: 1200px;
    }
    .header-container {
        top: 45px;
        right: 0px;
        width: 100%;
        height: auto;
        box-shadow: none
    }
    .header-border {
        justify-content: space-between;
        border: none;
    }
    .main-img{
        width: 100%;
        border-right: solid white 5px;
    }
    .header-container .hdr {
        font-size: 25px;
    }
    .home-icons {
        top: 250px;
        right: 0px;
        width: 320px;
    }
    .main-book-now {
        position: absolute;
        top: 450px;
        right: 40px;
    }
}

/******************************* MEDIA QUERY WIDTH 600px ***************************/

@media only screen and (max-width: 600px) {
    
    .services-content-container, .testimonials-container1, .testimonial-header-container, .services-header-container {
        width: 98%;
        border-left: 0px;
    }
}

/******************************* MEDIA QUERY WIDTH 550px ***************************/

@media only screen and (max-width: 550px) {
    
    .header-container, .home-icons, .book-btn-container, .main-book-now {
        position: static;
        margin: auto;
    }
    .jumbotron-header{
        height: 1000px;
        margin: 0px;
        width: 100%;
    }
    .header-container {
        margin-top: 41px;
    }
    .header-container .hdr {
        font-size: 20px;
    }
    .home-icons i{
        margin: 20px 20px 60px 20px;
        font-size: 40px;
    }
    .home-icons{
        width: 90%;
    }
    .home-container {
        background-image: url("../imgs/backgroundImg11.jpg");
        /* background-size: 320px auto; */
        background-position: left top 30px;
        background-repeat: repeat;
        background-size: auto;
        background-attachment: fixed;
    }
    .services-header-container {
        border-left: 0px;
        width: 100%;
        height: auto;
    }
    .services-header-container h1 {
        padding: 5px;
    }
    .tab-title{
        width: 250px;
    }
    .services-subheader h3{
        font-size: 20px;
    }
    .small-screen h3{
        padding-left: 0px;
        font-size: 18px;
    }
    .services-content-container p {
        padding: 5px;
    }
    .services-content-lrg img {
        border-right: none;
    }
    .price-container {
        border-right: none;
    }
    .price-container {
        flex-direction: column;
    }
    .price-container h4, .price-container span  {
        font-size: 18px;
    }
    .testimonial-header {
        height: auto;
    }
    .testimonials-quote {
        padding: 5px;
    }
    .testimonials-quote h5, h4 {
        font-size: 16px;
    }
    .box-left, .box-right {
        top: 16px;
    }
    button, .header-container {
        box-shadow: none;
    }
    .services-content img {
        border-right: none;
        box-shadow: none;
        margin: 0px;
    }
    .maps-col img {
        width: auto;
        margin: 0px;
    }
    .maps-col li {
        font-size: 12px;
    }
    .contact-container .tooltiptext {
        right: 10px;
    }
    .contact-container p {
        font-size: 16px;
    }
    .footer h4 {
        font-size: 10px;
    }
}

/******************************* HIDDEN NAV BAR WIDTH 550px ***************************/

@media only screen and (max-width: 550px) {
    
    .nav-bar {
        display: none;
    }
    #bars {
        display: inline-block;
    }
    .hamburger-menu li{
        position: relative;
        top: 10px;
        font-size: 20px;
        list-style: none;
        padding: 20px;
    }

    .hamburger-menu {
        display: inline-block;
        visibility: visible;
        text-align: center;
        width: 100%;
        border-bottom: solid black 0.5px;
    }
    #bars {
        position: relative;
        float: right;
        padding: 5px;
        font-size: 30px;
        padding: 8px;
        color: #FFF3E5;
        padding: 5px;
        font-size: 30px;
        cursor: pointer;
        color:white;
    }
    #bars:hover {
        color: black;
    }
    #close{
        font-size: 15px;
        color:white;
        cursor: pointer;
    }
    #close:hover{
        color:black;
    }
    .hidden {
        display: none;
    }

    .show {
        display: inline-block;
    }
}

/******************************* MEDIA QUERY WIDTH 500px ***************************/

@media only screen and (max-width: 500px) {

    .main-img-sml{
        display: none;
    }
    .main-img-lrg {
        display: inline-block;
        width: 100%;
    }
    .header-border {
        flex-direction: column;
    }
    .home-icons i {
        font-size: 30px;
    }
    .contact-container i {
        font-size: 30px;
    }
}

/******************************* MEDIA QUERY WIDTH 430px ***************************/

@media only screen and (max-width: 430px) {
    .jumbotron-header{
        height: 900px;
    }
    .maps-col {
        min-width: 0px;
    }
    .maps-col img {
        height: 250px;
        width: 250px;
    }
}

/******************************* MEDIA QUERY WIDTH 390px ***************************/

@media only screen and (max-width: 390px) {
    ul {
        padding: 0px;
        margin: 0px;
    }
    .intro-container{
        width: 95%;
    }
    .intro-border{
        padding: 2px 2px;
        line-height: 40px;
    }
    .intro-border p {
        font-size: 14px;
    }
    .intro-border li {
        font-size: 12px;
        margin: 0px;
    } 
}

@media (hover: hover) {
    button:hover {
        background-color: white;
    }
}



